:root{
    --cor-fundo: #000000 ;
    --cor-principal: #f47db4 ;
    --cor-secundaria: #b54d75; 
    --cor-destaque: #57183f;
    --cor-texto: #000000;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background: #f0f0f0;
}

.heart {
    width: 30px;
    height: 30px;
    background-color: rgb(241, 99, 177);
    position: absolute;
    transform: rotate(45deg);
    animation: fall 5s infinite linear;
}

.heart::before,
.heart::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: rgb(241, 99, 177);
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -20px;
    left: 0;
}

.heart::after {
    left: 20px;
    top: 0;
}

@keyframes fall {
    0% {
        top: -10px;
        opacity: 1;
    }
    100% {
        top: 100vh;
        opacity: 0;
    }
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
  }
